@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:ital,wght@0,400;1,700&display=swap');


#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }
  
  #modali {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 400px;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
  }
  
  #fade,
  #modali {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-header {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .modal-header {
    text-align: center;
  }

  .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .modal-body p {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .modal-body h2 {
    padding-bottom: 30px;
    
  }

  .modal-body button{
    width: 230px;
    height: 45px;
    text-transform: uppercase;
    background-color: #2A3342;
    color: white;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  #modali.hide,
  #fade.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  #modali.hide {
    top: 0;
  }

  #close-modal {
    font-weight: bold;
    background-color: transparent;
    border: none;
}
